@import "tailwindcss";
@keyframes orbit {
    0% {
      transform: rotate(0deg) translateX(160px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(160px) rotate(-360deg);
    }
  }
  
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
  }
  